<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RemotionServer.Properties.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="RemotionServer.UserBindings2" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="RemotionServer.Properties.UserBindings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="RemotionServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <RemotionServer.Properties.UserSettings>
            <setting name="action1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="action2" serializeAs="String">
                <value>0</value>
            </setting>
        </RemotionServer.Properties.UserSettings>
        <RemotionServer.UserBindings2>
            <setting name="key0" serializeAs="String">
                <value/>
            </setting>
            <setting name="key1" serializeAs="String">
                <value/>
            </setting>
            <setting name="key2" serializeAs="String">
                <value/>
            </setting>
            <setting name="key3" serializeAs="String">
                <value/>
            </setting>
        </RemotionServer.UserBindings2>
        <RemotionServer.Properties.UserBindings1>
            <setting name="key0" serializeAs="String">
                <value/>
            </setting>
            <setting name="key1" serializeAs="String">
                <value/>
            </setting>
            <setting name="key2" serializeAs="String">
                <value/>
            </setting>
            <setting name="key3" serializeAs="String">
                <value/>
            </setting>
        </RemotionServer.Properties.UserBindings1>
        <RemotionServer.Properties.Settings>
            <setting name="MouseWheelSpeed" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>ru</value>
            </setting>
            <setting name="TouchpadSpeed" serializeAs="String">
                <value>1</value>
            </setting>
        </RemotionServer.Properties.Settings>
    </userSettings>
</configuration>
